<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="/static/master.css">
    <title>Pilot</title>
  </head>
  <body ng-controller="AppController">
    <div ui-view>
    </div>
    <script src="/static/js/vendor/jquery-2.1.0.min.js"></script>
    <script src="/static/js/vendor/lodash.js"></script>
    <script src="/static/js/vendor/angular.min.js"></script>
    <script src="/static/js/vendor/angular-ui-router.min.js"></script>
    <script src="/static/js/vendor/angular-cookies.min.js"></script>
  </body>
</html>
